@mixin container-fixed($gutter: 30px) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  floor(($gutter / 2));
  padding-right: ceil(($gutter / 2));
  @include clearfix;
}

//== Container sizes
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1170px;

.container {
  @include container-fixed;

  @media (min-width: 768px) {
    width: $container-sm;
  }
  @media (min-width: 992px) {
    width: $container-md;
  }
  @media (min-width: 1200px) {
    width: $container-lg;
  }
}
