/*forms*/
.field.dropdown,
select.dropdown {
    position: relative;
}

div.field {
    @extend .form-item;
    .message {
        display: inline-block;
    }
}

.required label::before {
    @extend .req;
}

.message {
    &.bad {
        @extend .error;
    }
    &.good {
        @extend .success;
    }
    &.required {
        @extend .black;
    }
}

.optionset, .checkboxset {
    margin: 0;
    li {
        display: flex;
        align-items: center;
    }
}

/* buttons */
a.btn,
input.action {
    @extend .button;
}

/* breadcrumbs */
#Breadcrumbs {
    @extend .container;
    @extend .breadcrumbs;
}

/* header */
#header {
    margin-bottom: 40px;
    padding: 40px;
    background-color: $color-highlight;
    color: $color-inverted;
}

#menu-button {
    float: right;
    @extend .secondary;
    @extend .button;
    @extend .outline;
}

/* footer */
#footer {
    margin-top: 40px;
    padding: 40px;
    background-color: $color-silver;
    color: $color-midgray;
}

/* products group */
#BodyProductGroup, #BodyProduct {
    #page-holder {
        @extend .row;
    }
    #ProductGroup, #Product {
        @extend .col;
        @extend .col-9;
    }
    aside {
        @extend .col;
        @extend .col-3;
    }
}

#Products {
    ul {
        margin: 0;
        @extend .row;
        li {
            list-style: none;
            @extend .col;
            @extend .col-6;
        }
    }
}
